
body {
    font-size: 14px;
    line-height: 1.714;
    color: black;
    font-weight: bold;
    font-family: "PT Sans Narrow", Arial, sans-serif;
}

.page-title, .section-title-big, .feature-title {
    font-size: 30px;
    line-height: 1.4;
}

.section-title-smaller, .fieldset-title, .list-title{
    font-size: 24px;
    line-height: 1.25;
}

/*--------это на будущее-------*/

/*.btn {*/
/*color: rgb(255, 255, 255);*/
/*text-align: center;*/
/*line-height: 18px;*/
/*}*/

/*p a{*/
/*text-decoration: underline;*/
/*}*/

/*!*-------------*!*/

/*.main-nav a {*/
/*font-size: 16px;*/
/*color: white;*/
/*line-height: 1.25;*/
/*text-align: center;*/
/*}*/

/*!*-------------*!*/

/*.feature-item{*/
/*color: rgb(247, 244, 241);*/
/*text-align: center;*/
/*}*/

/*!*------------*!*/

/*time {*/
/*text-transform: none;*/
/*}*/

/*!*----------*!*/

/*.appointment input{*/
/*text-transform: none;*/
/*}*/

/*.appointment ::placeholder{*/
/*color: rgb(171, 169, 167);*/
/*}*/

/*!*-------------*!*/

/*.main-footer{*/
/*color: white;*/
/*}*/

/*!*----*!*/

/*a.disabled, .product-vendor-code{*/
/*color: rgb(171, 169, 167);*/
/*}*/

/*.filter-options-list li{*/
/*line-height: 1.286;*/
/*}*/

/*.Suavecito, �������� ��������, ������� ���, ���������� {*/
/*line-height: 1.286;*/
/*}*/




